.card--container {
    width: 300px;
    position: relative;
}



.card--info > * {
    margin: 0px;
    padding: 0px;
}

.card--image {
    align-self: center;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
}

.card--reviews-score-country {
    display: flex;
    height: 100%;

}

.card--reviews-score-country > * {
    margin: 0px;
}



.card--description > * {
    margin: 0;
}

.card--star-icon {
    content: url('../../../assets/Star.svg');
}



.card--price-per-person > * {
    margin: 0;
}

.grey {
    color: grey;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}


